body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #010336;
    opacity: 90%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: #fff;
    overflow: hidden;
}

.branding, .signup-form-wrapper {
    flex: 1;
    padding: 2rem;
}

.branding {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.tagline {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    font-weight: lighter;
    text-align: right;
}

.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

.signup-form .form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.signup-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.signup-form .form-input {
    width: calc(100% - 2rem);
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.signup-form .submit-button {
    background: linear-gradient(to right,  #183369, #1e8dc5);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

.signup-form .submit-button:hover {
    background-color: #357ab8;
}

.signin-link-wrapper {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.signin-link {
    color: #4a90e2;
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

.custom-button{
    padding: 0.25rem 0.5rem;
    background: linear-gradient(to right, #183369, #1e8dc5);
    border-radius: 0.5rem;
    color: white;
    font-size: 5rem;
    display: inline-block;
    float: right;
}

