/* About Section */

.about {
    background: rgb(224, 251, 222);
    /*background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(1, 3, 54) 100%);*/
    padding: 100px 0 20px 0;
    text-align: center;
}

.about h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 0.9rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    width: 20rem;
    height: 20rem;

}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-size: 1.1rem;
    margin: 0 2rem;
    text-align: justify;
}

.about-button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #010336;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

button:hover {
    background-color: #2272b3;
}

/* Team Section */

.team {
    padding: 30px 0;
    text-align: center;
    height: 100%;
}

.team h1 {
    font-size: 1.5rem;
    color: #0A1223;
    margin-bottom: 20px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: 22rem;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 18rem;
    height: 16rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.card-info button {
    margin: 2rem 1rem;
}

.card-name {
    font-size: 1rem;
    margin: 10px 0;
}

.card-role {
    font-size: 1rem;
    color: #888;
    margin: 5px 0;
}

.card-email {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    nav {
        display: block;
    }

    .logo {
        text-align: center;
    }

    .nav-links {
        margin-top: 1rem;
        justify-content: space-between;
    }

    .nav-links li {
        margin-right: 0;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .about-info {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 60%;
        height: 60%;
        margin-bottom: 1rem;
    }

    .about-info p {
        margin: 1rem 2rem;
    }

    .about-info button {
        margin: 1rem 2rem;
        width: 10rem;
    }

    .team {
        margin: 0 1rem;
    }
}