.section-1 {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden; /* Ensures the video doesn't overflow the section */
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Places the video behind your content */
}

.box-1, .box-2 {
    position: relative;
    z-index: 1; /* Ensures that these elements are above the video */
}


/*.section-1 {*/
/*    !* background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); *!*/
/*    !*background-image: url('/assets/home-img-1.jpg');*!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    height: 100vh;*/
/*    color: black;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*}*/

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.box-1-container {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(6px);
}

.box-1-navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.252);
}

.box-1-content {
    color: white;
}

.box-1-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem auto 0.5rem;
    padding: 0 2rem;
}

.box-1-desc {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem auto 0.5rem;
    padding: 0 2rem;
}

.item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 2rem;
    color: black;
    border-radius: 0.18rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.item-btn:hover {
    background-color: #010336;
    color: white;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid #010336;
}

.hidden {
    display: none;
}

.box-1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 2rem 0 6rem 2rem;
    color: white;
    background-color: #010336;
    border-radius: 2.4rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box-1-btn:hover {
    background-color: #0d6efd;
    cursor: pointer;
}

.alert {
    position: relative;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.section-2 {
    /*background-image: url('/assets/homepage3.webp');*/
    background-color: #010336;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 800px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.box-2-container {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(8px);

}


.box-2-content {
    color: white;
    margin-top: 70px;
}

.box-2-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem auto 0.5rem;
    padding: 0 2rem;
}

.box-2-desc {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem auto 0.5rem;
    padding: 0 2rem;
}

.box-2-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 2rem 0 6rem 2rem;
    color: white;
    background-color: #010336;
    border-radius: 2.4rem;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box-2-btn:hover {
    background-color: #0d6efd;
    cursor: pointer;
}

/* For larger screens, increase height and maintain 1fr 1fr layout */
@media (min-width: 1024px) {
    .section-2 {
        height: 100vh;
        max-height: 500px;
    }
}

/* For tablet screens, reduce height slightly and adjust padding */
@media (max-width: 1023px) and (min-width: 768px) {
    .section-2 {
        height: 45vh;
        max-height: 450px;
        padding: 15px;
    }
}

/* For mobile screens, make it a single column and reduce height */
@media (max-width: 767px) {
    .section-2 {
        height: 35vh; /* Reduced height for smaller screens */
        max-height: 300px;
        grid-template-columns: 1fr; /* Single column layout */
        padding: 10px;
    }
}

/* Section 3 Styling */

body {
    overflow-x: hidden;
}

/* Set box-sizing for all elements to avoid width overflow */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.section-3 {
    background-color: rgba(255, 255, 255, 0.61);
    padding: 6rem;
}

.section-3 .heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.section-3 .heading-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.section-3 .box-3 {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.section-3 .box-3 .img-box-3 {
    width: 100%;
    height: auto;
}

.section-3 .box-3 .img-box-3 img {
    width: 100%;
    height: auto;
    display: block;
}

.section-3 .box-3 .detail-box-3 {
    padding: 40px;
}

.section-3 .box-3 .detail-box-3 h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.section-3 .box-3 .detail-box-3 p {
    margin-top: 20px;
}

.section-3 .box-3 .detail-box-3 a {
    color: #010336;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.box-3-container {
    flex: 1 1 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .box-3-container {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

/* Section 4 Styling */
.section-4 {
    background-color: #010336;
    padding: 150px;
}

.section-4 .heading-container {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.section-4 .heading-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    color: #ffffff;
}

.section-4 .box-4 {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    padding: 40px;
}

.section-4 .box-4 .img-box-3 {
    width: 100%;
    height: auto;
}

.section-4 .box-4 .img-box-4 img {
    width: 100%;
    height: auto;
    display: block;
}

.section-4 .box-4 .detail-box-4 {
    padding: 40px;
}

.section-4 .box-4 .detail-box-4 h5 {
    font-size: large;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.section-4 .box-4 .detail-box-4 h5 a {
    font-size: 30px;
    font-weight: bolder;
    color: #010336;
    margin-left: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.box-4-container {
    flex: 1 1 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .box-4-container {
        flex: 0 0 48%;
        max-width: 48%;
    }


//* Section 5 Styling */
.section-5 {
    background-color: white;
    padding: 6rem;
}

    .section-5 .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .section-5 .heading-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        color: #000000;
    }

    .section-5 .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .section-5 .box-5-container {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-5 .box-5 {
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10px;
        width: auto;
    }

    .section-5 .box-5 .box-5-logo {
        font-size: 30px;
    }

    .section-5 .box-5 .detail-box-5 {
        padding-right: 5px;
    }

    .section-5 .box-5 .detail-box-5 h5 {
        font-weight: bold;
        margin: 0;
        padding-top: 10px;
    }

    .section-5 .box-5 .detail-box-5 p {
        padding-top: 15px;
    }

    .section-5 .box-5 .detail-box-5 p a {
        color: #010336;
        padding-top: 20px;
    }


    /* Responsive adjustments */
    @media (max-width: 768px) {
        .section-5 .box-5-container {
            flex: 1 1 100%; /* Stacks boxes vertically on smaller screens */
            max-width: 100%;
        }
    }
}

/*section-6*/

.section-6 {
    background-color: white;
    padding: 6rem;
}

/*.section-6 .box-3 {*/
/*    margin-top: 20px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
/*    border-radius: 5px;*/
/*    overflow: hidden;*/
/*    width: 100%;*/
/*}*/

.section-6-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

.section-6-header h1 {
    font-size: 2.9rem;
    font-weight: bold;
}

.img-box-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.img-box-6 img {
    max-width: 40%;
    height: auto;
}

.detail-box-6 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail-box-6 p {
    font-size: 1.2rem;
    font-weight: bold;

}

.section-6-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section-6-btn button {
    background-color: #010336;
    color: #f9f9f9;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.section-6-btn button:hover {
    background-color: #0629a1; /* Change background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

