/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    width: 100%;
}

/* Section Styling */
section {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Left Column Styling */
.container-left {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    background-color: #010336;
    /*padding-bottom: 140px;*/
}

.branding-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 200px;
    padding: 2rem;
    background-color: transparent;
}

.brand-name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.brand-button {
    padding: 0.25rem 0.5rem;
    background: linear-gradient(to right, #183369, #1e8dc5);
    border-radius: 0.5rem;
    color: white;
    font-size: 5rem;
    display: inline-block;
    float: right;
}

.tagline {
    margin-top: 10px;
    line-height: 1.5;
    color: white;
    text-align: right;
}


/* Right Column Styling */
.container-right {
    width: 50%; /* Take up 50% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Container */
.container {
    display: flex;
    flex-direction: column; /* Arrange cards in a column */
    gap: 20px; /* Space between cards */
    width: 40%; /* Restrict width for better alignment */
}

/* Card Styling */
.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 80%;
    /*justify-content: center;*/
}

/* Card Hover Effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Card Icon Styling */
.card .icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* Card Heading */
.card .heading {
    font-size: 20px;
    margin: 10px 0;
    color: #333333;
}

/* Card Paragraph */
.card .paragraph {
    font-size: 14px;
    color: #666666;
    margin: 10px 0 20px 0;
}

/* Button Styling */
.card .button {
    display: inline-block;
    text-decoration: none;
    background-color: #010336;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.card .button:hover {
    background-color: #0027ff;
}

/* Responsive Styling */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .container-left, .container-right {
        flex: none;
        width: 100%;
    }

    .container {
        width: 90%;
    }
}
