/* Container styling */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 ;
    background-color: #010336;
    min-width: 100%;
}
a {
    color: #ffffff;
}
/* Header styling */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-md-between {
    justify-content: space-between;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

/* Column styling */
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-md-0 {
    margin-bottom: 0;
}

/* Link styling */
.link-body-emphasis {
    color: #212529;
}

.text-decoration-none {
    text-decoration: none;
}

/* SVG styling */
.bi {
    fill: currentColor;
}

/* Navigation styling */
.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.col-12 {
    width: 100%;
}

.col-md-auto {
    flex: 0 0 auto;
    width: auto;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.link-secondary {
    color: #6c757d;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.15s ease-in-out;
}

.nav-link:hover {
    color: #0056b3;
}

/* Button styling */
.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    /*color: #212529;*/
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #0d6efd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    color: #f9f9f9;
}

.btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.me-2 {
    margin-right: 0.5rem;
}

.search-bar{
    margin-right: 15%;
}

.search-bar-enter{
    margin-right: 10px;
    height: 35px;
    width: 200px;
    border: none;
    outline: none;
    padding: 0;
    text-align: center;
    border-radius: 40px;
}

.nav-link {
    display: inline-flex; /* Ensures alignment of text and icon */
    align-items: center; /* Vertically center-aligns text and icon */
    /*padding: 8px 12px; !* Adjust padding as needed *!*/
    font-size: 16px; /* Change the font size */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Add a transition effect */
}

.nav-link:hover {
    color: #007bff; /* Change color on hover */
}

/* Targeting the Ionicon specifically inside nav-link */
.nav-link ion-icon {
    /*margin-left: 5px; !* Adds some spacing between the text and the icon *!*/
    font-size: 25px; /* Adjust the icon size */
    transition: transform 0.3s ease; /* Add a smooth transform transition */
    /*margin-bottom: 5px;*/
}

.nav-link:hover ion-icon {
    transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.logo-img {
    max-width: 50px;
    margin-left: 50px;

}